*DS_Store
_flex/wp-content/uploads/
_flex/wp-content/blogs.dir/
_flex/wp-content/upgrade/
_flex/wp-content/backup-db/
_flex/wp-content/advanced-cache.php
_flex/wp-content/wp-cache-config.php
*.log
_flex/wp-content/cache/
_flex/wp-content/backups/
_flex/sitemap.xml.gz
_flex/wp-config.php


*config.php

*node_modules/
*bower_components/