<IfModule mod_rewrite.c>

Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^$ ./web/index.php [L]
RewriteRule ^/?$ ./web/index.php [L]

RewriteRule ^about$ ./web/index.php [L]
RewriteRule ^about/$ ./web/index.php [L]

RewriteRule ^contact$ ./web/index.php [L]
RewriteRule ^contact/$ ./web/index.php [L]

RewriteRule ^success$ ./web/index.php [L]
RewriteRule ^success/$ ./web/index.php [L]

RewriteRule ^works$ ./web/index.php [L]
RewriteRule ^works/$ ./web/index.php [L]

RewriteRule ^works/interior$ ./web/index.php [L]
RewriteRule ^works/interior/$ ./web/index.php [L]

RewriteRule ^works/exterior$ ./web/index.php [L]
RewriteRule ^works/exterior/$ ./web/index.php [L]

RewriteRule ^backend$ ./_flex/index.php [L]
RewriteRule ^backend/$ ./_flex/index.php [l]
RewriteRule ^backend/wp-admin/setup-config.php$ ./_flex/wp-admin/setup-config.php [L]
RewriteRule ^backend/wp-admin/install.php$ ./_flex/wp-admin/install.php [L]
RewriteRule ^backend/wp-login.php$ ./_flex/wp-login.php [L]
RewriteRule ^backend/wp-admin/$ ./_flex/wp-admin/index.php [L]

RewriteRule ^local-home-contractor-in-forney-tx$ ./web/index.php [L]
RewriteRule ^local-home-contractor-in-forney-tx/$ ./web/index.php [L]

RewriteRule ^local-home-contractor-in-dallas-tx$ ./web/index.php [L]
RewriteRule ^local-home-contractor-in-dallas-tx/$ ./web/index.php [L]

RewriteRule ^local-home-contractor-in-rockwall-tx$ ./web/index.php [L]
RewriteRule ^local-home-contractor-in-rockwall-tx/$ ./web/index.php [L]

RewriteRule ^local-home-contractor-in-heath-tx$ ./web/index.php [L]
RewriteRule ^local-home-contractor-in-heath-tx/$ ./web/index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ ./web/index.php?filename=$1 [L]

</IfModule>
