@import "settings";

$imgborder: 5px solid #333;

@import "components/bp-mixin",
		"components/typography",
		"components/pagesetup";

/*
** Foundation Settings Overrides **
*/
$global-radius: 5px;

/* Teal Green Palette colors */
$light: #a0a0ad;
$dark: #3b3b45;
$orange: #ffae1a;
$thumb-border-width: 5px;
$thumb-border-color: #333;
$primary-color: $orange;
$secondary-color: $dark;
$body-font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
$body-bg: #F6F6F6;
/*
** Import Foundation Components Used **
*/
@import "foundation";

/*
** Import Pages and custom components **
*/
@import "pages/layout",
		"pages/homepage",
		"pages/about";

