.brand {
	font-size: 3.5em;
	overflow: hidden;
	margin: 0 auto;
	max-width: 5.7em;
	line-height: 1.1;
	span {
		float: left;
		max-width: 60%;
	}
	.brand-main {
		color: darkorange;
	}
	.brand-sec {
		font-size: 0.4em;
		line-height: 1.1;
		padding-top: 0.3em;
		padding-left: 0.3em;
		color: #555;
	}
	@include bp(sm) {
		font-size: 5.625em;
	}
}
.slogan {
	font-size: 1.2em;
	line-height: 1.1;
	color: #555;
	max-width: 15.7em;
	margin: 0 auto;
	font-weight: 100;
	@include bp(sm) {
		font-size: 1.8em;
	}
}

/* NAV */
/*.portfolio-nav {
	background: #333;
	width: 100%;
	overflow: hidden;
	margin: 1em 0;
	padding: 0;
	> li {
		list-style: none;
		border-bottom: 1px solid #555;
		> ul li {
			display: none;
		}
		@include bp(md) {
			float: left;
			width: 20%;
			text-align: center;
		}
	}
	a {
		display: block;
		color: #fff;
		padding: 0 1em;
	}
}
*/
/* IMAGE STYLES */
/*.img-wrap {
	border: 5px solid #555;
	width: 80%;
	&.center {
		margin: 0 auto;
	}
	@include bp(md) {		
		&.push-left {
			margin-left: -3em;
		}
	}
	img {
		width: 100%;
		margin: 0;
		padding: 0;
		display: block;
	}
}*/

/*.interior, .exterior {
	.interior-section {
		background: none;
		color: #444;
	}
	.morebtn {
		display: none;
	}
}

.jobs-list {
	max-width: 18.5em;
	overflow: hidden;
	padding: 0;
	list-style-position: inside;
	margin: 0 auto;
	h4 {
		text-align: center;
	}
	li {
		width: 50%;
		float: left;
	}
}

label, input, textarea {
	display: block;
	width: 100%;
	font-size: 1em;
	line-height: 1.3;
}

label {
	margin-top: 0.5em;
}

textarea {
	height: 10em;
}

.contactform {
	max-width: 20em;
	margin: 1em 0;
	background: #e1e1e1;
	padding: 1em;
	border-radius: 5px;
	overflow: hidden;
}

.button-submit {
	border: none;
	float: right;
	margin-top: 0.5em;
}

.errormessage {
	display: none;
	background: lighten(red, 20%);
	padding: 0.3em 1em;
	border-radius: 5px;
	line-height: 1.3;
	color: #f1f1f1;
}

.thanks-message {
	display: none;
	color: #FF3F00;
	text-align: center;
}

.two-up {
	position: relative;
	max-width: 100%;
	width: 100%;
	overflow: hidden;
	.img-wrap {
		width: 50%;
		max-width: 50%;
		float: left;
		border: 5px solid #333;
	}
	figcaption {
		text-align: center;
		background: #333;
		color: #fff;
	}
}*/
