.innerpage {
	padding-top: 2em;
}

.contactform {
	.errormessage {
		display: none;
	}
	.errorunder {
		display: none;
	}
	.error {
		.errorunder {
			display: block;
		}
	}

}

.img-wrap {
	img {
		border: $imgborder;
	}
}
.clearing-thumbs {
	li {
		margin-bottom: 0.5em;
	}
}